
<nz-breadcrumb style="margin:16px 0px;">
  <nz-breadcrumb-item>
    <a [routerLink]="['/organizations']">Home</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/newOrganization']"></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form [formGroup]= "newOrganizationForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label data-cy="nameLabel">Name</nz-form-label>
    <nz-form-control>
      <input data-cy="name" nz-input type="text" formControlName="name">
      <nz-form-explain *ngIf="!newOrganizationForm.get('name').valid && newOrganizationForm.get('name').touched">Please input name.</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Description</nz-form-label>
    <nz-form-control>
      <textarea data-cy="description" nz-input type="text" formControlName="description" placeholder="Summary Describing the Department">
      </textarea>
      <nz-form-explain *ngIf="!newOrganizationForm.get('description').valid && newOrganizationForm.get('description').touched">Please input description.</nz-form-explain>
    </nz-form-control>
    
  </nz-form-item>
  <button data-cy="submitBtn" nz-button nzType="primary" type="submit" [disabled]="!newOrganizationForm.valid" style="margin-top: 15px; color:white; background-color:#5C607B;">submit</button>
  <button data-cy="cancelBtn" nz-button nzType="secondary" type="button" (click)="onCancel()">cancel</button>

</form>
