
<nz-breadcrumb style="margin:16px 0px;">
    <nz-breadcrumb-item>
      <a [routerLink]="['/organizations']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/departments', department.orgId]">{{orgName}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a [routerLink]="['/detail', department.id]">{{department.name}}</a>
      </nz-breadcrumb-item>
  </nz-breadcrumb>

<div *ngIf="department">

  <nz-card style="width:900px;" nzTitle="{{department.name | uppercase}}  Details" [nzExtra]="extraTemplate">
      <p>Name: {{department.name}}</p>
      <p>Description: {{department.description}}</p>
      <p>Managing Department: {{ parentName }}</p>
      <h6>Departments Under:</h6>
      <div >
        <nz-list *ngFor="let depts of deptsUnder"
          
        >
        <a (click)="ngOnInit()" routerLink="/detail/{{depts.id}}" routerLinkActive="active">
          <nz-list-item>{{depts.name}}</nz-list-item>
        </a>
        </nz-list>
      </div>
    </nz-card>
    <ng-template #none>
      <nz-list>
        <nz-list-item>
          None
        </nz-list-item>
      </nz-list>
    </ng-template>
    <ng-template #extraTemplate>
      <a><i nz-icon nzType="edit" nzTheme="outline" routerLink="/edit/{{department.id}}"></i></a>
      <div nz-col nzSpan="0"></div>
      <a nz-popconfirm nzTitle="Are you sure delete this Organization? /n All departments under will be removed if you confirm!" (nzOnConfirm)="onDelete()" (nzOnCancel)="onCancel()"
          ><i nz-icon nzType="delete" nzTheme="outline"></i></a>
    
    </ng-template>

    <!-- <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="goBack()"></i> -->
    <button nz-button nzType="secondary" routerLink="/edit/{{department.id}}">Edit</button>
    <a nz-popconfirm nzTitle="Are you sure delete this Organization? All departments under will be removed if you confirm!" (nzOnConfirm)="onDelete()" (nzOnCancel)="onCancel()"
          ><button nz-button nzType="danger" >Delete</button></a>
</div>
<!-- <h2>{{department.name | uppercase}} Details</h2>
<div>Name: {{department.name}}</div>
<div>Description: {{department.description}}</div>
<div>Managing Department: {{department.managingDept}}</div>
<div>Departments Under: {{department.deptsUnder}}</div>

<button (click)="goBack()">go back</button>
<i nz-icon nzType="arrow-left" nzTheme="outline" (click)="goBack()"></i>
<i nz-icon nzType="edit" nzTheme="outline"routerLink="/edit"></i>
<i nz-icon nzType="delete" nzTheme="outline"></i>
</div>
-->
