<div nz-row nzSpan="24" style="margin-top: 15px;">
  <div nz-col nzSpan="4">
      <h3>Departments</h3>
      <h6>List of Departments</h6>
  </div>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <nz-radio-group [(ngModel)]="tableView"  style="margin-top: 25px;">
            <label nz-radio [nzValue]="true">Table View</label>
            <label nz-radio [nzValue]="false">Tree View</label>

          </nz-radio-group>
  </div>
  <div nz-col nzSpan="4">
    <div></div>
      <button nz-button nzType="default"  style="margin-top: 15px; color:white; background-color:#5C607B;" [routerLink]="['/newDepartment', orgId]" routerLinkActive="active">New Department</button>
      
  </div>
</div>

<ng-container *ngIf="tableView;else treeViewBlock">
  <nz-table #basicTable [nzData]="orgDepts">

      <thead>
        <tr>
          <th>Department Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of orgDepts" >
          <td routerLink="/detail/{{department.name}}"><a routerLink="/detail/{{department.name}}">{{department.name}}</a></td>
          <td>{{department.description}}</td>
          <td></td>
          <td>
              <a nz-popconfirm nzTitle="Are you sure delete this Organization? All departments under will be removed if you confirm!"  (nzOnConfirm)="onDelete()" (nzOnCancel)="onCancel()"
              ><i nz-icon nzType="delete" (click)="getId(department.id)" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>

</ng-container>
  
<ng-template #treeViewBlock>

    <div nz-col nzSpan="14" nzOffset="4">
        <nz-tree [nzData]="nodes" [nzShowLine]="true" [nzSelectedKeys]="defaultSelectedKeys" (nzClick)="nzClick($event)">
        </nz-tree>
      </div>
</ng-template>




