<!-- <div class="row">
    <div class="col-xs-8">
        <div class="list-group-item clearfix">Department Name <span>Description</span></div>
        <div class="list-group-item clearfix" *ngFor="let department of depts" 
>
          <a routerLink="/detail/{{department.name}}" class="list-group-item-heading">
            {{ department.name }}
          </a>
          <span>{{department.description}}</span>
    </div>
    <button routerLink="/new">New Department</button>
</div> -->


<div nz-row>
    <div nz-col nzSpan="8">
        <button nz-button nzType="primary" routerLink="/new">New Department</button>

    </div>
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8">
        <nz-radio-group [(ngModel)]="tableView">
            <label nz-radio nzValue= true>Table View</label>
            <label nz-radio nzValue= false>Tree View</label>

          </nz-radio-group>
          
    </div>
    <!-- <p>{{tableView}}</p> -->
  </div>
  <!-- <div *ngIf="tableView; then tableViewBlock else treeViewBlock">

  </div> -->
<!-- <div *ngIf="tableView; else treeViewBlock"> -->
  <nz-table #basicTable [nzData]="orgDepts">
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of orgDepts" >
          <td routerLink="/detail/{{department.name}}"><a routerLink="/detail/{{department.name}}">{{department.name}}</a></td>
          <td>{{department.description}}</td>
          <td>Edit</td>
          <td>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>


<!-- <ng-template #treeViewBlock>

<div>this is the tree view block</div>
</ng-template> -->

<nz-tree
      [nzData]="department"
      nzDraggable
      (nzOnDrop)="nzEvent($event)">
</nz-tree>


