
<nz-breadcrumb style="margin:16px 0px;">
    <nz-breadcrumb-item>
      <a [routerLink]="['/organizations']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/departments', orgId]">{{orgName}}</a>
    </nz-breadcrumb-item>
    
  </nz-breadcrumb>
    <form nz-form [formGroup]= "newDepartmentForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control>
          <input nz-input type="text" formControlName="name">
          <nz-form-explain *ngIf="!newDepartmentForm.get('name').valid && newDepartmentForm.get('name').touched">Please input name.</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input type="text" formControlName="description" placeholder="Summary Describing the Department">
          </textarea>
          <nz-form-explain *ngIf="!newDepartmentForm.get('description').valid && newDepartmentForm.get('description').touched">Please input description.</nz-form-explain>
        </nz-form-control>
        <nz-form-item>
            <nz-form-label  nzFor="parentName">Managing Department</nz-form-label>
            <nz-form-control>
              <nz-select id="parent" formControlName="managingDept" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a Department">
                <nz-option *ngFor="let dept of orgDepts" [nzLabel]="dept.name" [nzValue]="dept.id"></nz-option>
                <nz-option nzLabel="None" [nzValue] = 0></nz-option>
            </nz-select>
              <nz-form-explain *ngIf="!newDepartmentForm.get('managingDept').valid && newDepartmentForm.get('managingDept').touched">
                This field is required!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
      </nz-form-item>
      <button nz-button nzType="primary" type="submit" [disabled]="!newDepartmentForm.valid" style="margin-top: 15px; color:white; background-color:#5C607B;">submit</button>
      <button nz-button nzType="secondary" type="submit" (click)="onCancel()">cancel</button>
    </form>
