<div nz-row nzSpan="24">
    <div nz-col nzSpan="4">
        <h3>Organizations</h3>
        <h6>List of Organizations</h6>
    </div>
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="4">
      <div></div>
        <button nz-button nzType="default">New Organization</button>

    </div>

</div>
<nz-collapse>
    <nz-collapse-panel
      *ngFor="let org of organization_list"
      [nzHeader]="org.name"
      [nzActive]="false"
        [nzExtra]="extraTpl"
        
    >
      <p style="margin:0;">
        {{org.description}}
      </p>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #extraTpl>
     <button nz-button nzType="default">Departments</button>
  </ng-template>
